<!DOCTYPE html>
<html>
<head>
  <title></title>
   <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
    <!-- owl carousel-->
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png">
    <script type="text/javascript" href=""></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <style type="text/css">
      a{
        color: black;
      },
      .image--cover {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 20px;
      }
    </style>
</head>
<body>

  <!-- Start Header Code  -->
  <div class="container-fluid">
    <div class="row" style=" background-color: black;color: white;height: 50px">
      <div class="col-sm-2"><a href="/"><img src="/images/HS.jpg" class="mx-auto d-block" style="height: 50px;"></a></div>
      <div class="col-sm-7">
        <form id="searchform">
            <div class="input-group" style="margin-top: 7px;">
              <input type="text" id="search" name="search" class="form-control" placeholder="Search this blog">
              <div class="input-group-append">
                 <button id="search_btn" class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                 </button>
              </div>
            </div>
        </form>
       <ul class="list-group" style="position:relative; z-index: 2" id="search_item">
       </ul>   
      </div>
      <script type="text/javascript">

        $(document).ready(function(){
            $("#search").keyup(function(){
              var data = $(this).val();
              $.ajax({
                url:"/search",
                method:"GET",
                data:{search:data},
                success:function(data){
                $("#search_item").html(data);
              }
              })
            });

            $("#search").focusout(function(){

                $(this).delay(1000).queue(function(){

                      $("#search_result").remove();

                });
            });
            $("#search").keyup(function(e){
              if(e.key == "Escape"){
                $("#search_result").remove();
                $("#search").val('');
              }
            })
        });

      </script>
      <div class="col-sm-3">
          <div style="float: left;margin-right: 20px;">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" style="background-color: black;border: 0;"data-toggle="dropdown">
                <div>
                  <a style="cursor: pointer;float: left;"><img src="/images/login-icon.png" height="30px">
                    Hello,
                    <div style="margin-left: 15px;">
                      {{user.name}}
                    </div>
                  </a>
                </div>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/home/account">Your Account</a>
                    <a class="dropdown-item" href="/home/myorder">Your Order</a>
                    <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
            </div>
            </div>
            <div style="float: left;">
                <a href="/home/cart" style="cursor: pointer;">
                  <img src="/images/cart.png" height="30px" style="margin-top: 10px;float: left;">
                      <p style="float: left;margin-top: 12px;color: white;">Cart</p>
                </a>
            </div>
      </div>
    </div> 
  </div>
</div>
  <!-- End Header Code -->
    <div id="all" style="margin-top: 15px;">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">My account</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-3">
              <!--
              *** CUSTOMER MENU ***
              _________________________________________________________
              -->
              <div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">Customer section</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex">
                    <a href="/home/myorder" class="nav-link">
                      <i class="fa fa-list"></i> My orders</a>
                    <a href="/home/account" class="nav-link">
                      <i class="fa fa-user"></i> My account</a>
                    <a href="/logout" class="nav-link">
                      <i class="fa fa-sign-out"></i> Logout</a></ul>
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
            </div>
            <div class="col-lg-9">
              <div class="box">
                <h1>My account</h1>
                <div style="display: inline-flex; align-items: center; justify-content: center;width: 100%">
                <img src="{{user.photo}}" style="width: 150px; height: 150px;border-radius: 50%;margin: 20px;box-shadow:0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2)">
                </div>
                <h3 class="mt-5">Personal details</h3>
                <form action="/home/account/save" method="get">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <input name="firstname" type="text" class="form-control" value="{{user.name}}" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input name="lastname" type="text" class="form-control" value="{{user.name}}" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input name="email" type="text" class="form-control" value="{{user.email}}" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="mobile">Mobile Number</label>
                        <input name="mobile" type="text" class="form-control" value="{{user.mobile}}" required>
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="home_no">Flat No./House No.</label>
                        <input name="home_no" type="text" class="form-control" value="{{address.home_no}}" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="street">Street</label>
                        <input name="street" type="text" class="form-control" value="{{address.street}}" required>
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                  <div class="row">
                    <div class="col-md-6 col-lg-3">
                      <div class="form-group">
                        <label for="city">City</label>
                        <input name="city" type="text" class="form-control" value="{{address.city}}" required>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <div class="form-group">
                        <label for="pincode">Pin Code</label>
                        <input name="pincode" type="text" class="form-control" value="{{address.pincode}}" required>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <div class="form-group">
                        <label for="state">State</label>
                        <select name="state" class="form-control" value="{{address.state}}" required>
                          <option value="Gujarat">Gujarat</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <div class="form-group">
                        <label for="country">Country</label>
                        <select name="country" class="form-control" value="{{address.country}}" required>
                          <option value="India">India</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js"></script>
    <script src="/js/front.js"></script>
</body>
</html>